@charset "UTF-8";
/*ユーザー共通部分*/
header {
	display: flex;
	border-bottom: 2px solid #d3d3d3;
}

.teraco {
	padding-left: 150px;
}

.terachan {
	padding-top: 23px;
	padding-left: 120px;
	padding-right: 55px;
}

.navi {
	padding-top: 30px;
	padding-left: 50px;
}

.button_board {
	width: 7em;
	height: 3em;
	background-color: #f4a460;
	border: none;
	border-radius: 15px;
	margin-right: 10px;
}

.button_menu {
	width: 15em;
	height: 3em;
	background-color: #f4a460;
	border: none;
	border-radius: 15px;
	margin-right: 20px;
}

button:hover {
	background-color: #ff8c00;
}
button:active {
	background-color: #ffd700;
}
footer {
	background-color: #dcdcdc;
	font-size: 14px;
	padding-left: 180px;
	padding-right: 180px;
}

/*Board.jspに反映*/
.main {
	display: flex;
	padding: 20px 8px;
	margin: 0 auto 0 auto;
	max-width: 960px;
}

.rule {
	width: 20em;
	height:565px;
	margin-right: 15px;
	font-family:'Comic Sans MS';
  	background: #eee8aa;
 	border-left: 7px dotted rgba(255,0,0,0.2);
 	box-shadow: 0 0 0 5 #ffff00;
 	padding: 1em;
}
.rule p {
	font-size: 13px;
}

.board {
	border: 2px solid;
	width: 50em;
	padding-left: 6em;
	padding-top: 1em;
	background: #eee8aa;
	box-shadow: 0px 0px 0px 4px #ffff00;
	border: dashed 2px white;
}

.board p {
	font-size: 12px;
	color: #ff6347;
}

/*変更の可能性あり	idで設定する？*/
.title {
	width: 20em;
	height: 2em;
	background-color: #fff8dc;
}
/*変更の可能性あり	idで設定する？*/
.content {
	width: 35em;
	height: 15em;
	background-color: #fff8dc;
}

.upload {
	width: 7em;
	height: 3em;
	background-color: #f4a460;
	border: none;
	border-radius: 15px;
	margin-top: 10px;
	margin-left: 190px;
}
.upload:hover {
	background-color: #ff8c00;
}
.upload:active {
	background-color: #ffd700;
}