@charset "UTF-8";

/* テーブルの枠の部分 */

.info {
	border-collapse: collapse;
}

.info td {
	padding: 8px;
	border: 1px solid 	#000000;
	text-align: left;
}

.menu {
	display: flex;
}

.manual {
	margin-right: 10px;
}

.manual {
	width: 20em; border: solid 3px #000;
}

div{
	text-align: center;
}