@charset "UTF-8";

/*ユーザー共通部分*/
header {
	display: flex;
	border-bottom: 2px solid #d3d3d3;
}

.teraco {
	padding-left: 150px;
}

.terachan {
	padding-top: 23px;
	padding-left: 120px;
	padding-right: 55px;
}

.navi {
	padding-top: 30px;
	padding-left: 50px;
}

.button_board {
	width: 7em;
	height: 3em;
	background-color: #f4a460;
	border: none;
	border-radius: 15px;
	margin-right: 20px;
}

.button_menu {
	width: 15em;
	height: 3em;
	background-color: #f4a460;
	border: none;
	border-radius: 15px;
	margin-right: 20px;
}

button:hover {
	background-color: #ff8c00;
}

button:active {
	background-color: #ffd700;
}

footer {
	background-color: #dcdcdc;
	font-size: 14px;
	padding-left: 180px;
	padding-right: 180px;
}

p {
	font-size:12px;
}



/* メイン部分 */

.menu {
	display: flex;
}

.manual {
	margin-right: 10px;
}
/*
.manual {
	width: 20em; border: solid 3px #000;
}
*/
.notice {
	width: 60em; border: solid 3px #000;
}



.manual{
	width: 20em;
	margin-right: 15px;
	font-family:'Comic Sans MS';
  	background: #eee8aa;
 	border-left: 7px dotted rgba(255,0,0,0.2);
 	box-shadow: 0 0 0 5 #ffff00;
 	padding: 1em;
	max-width: 225px;
}
.manual p {
	font-size: 13px;
}

.notice{
	/*padding:0px;*/
	margin:5px,auto;
	border: 2px solid;
	max-width: 38em;
	padding-left: 0.5em;
	padding-top: 1em;
	background: #eee8aa;
	box-shadow: 0px 0px 0px 4px #ffff00;
	border: dashed 2px white;

}















