@charset "UTF-8";
/*nav*/
.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;

}
.nav ul {
  margin: 0 0 0 0;
  padding: 20px 10px 15px 20px;
 background-repeat: repeat-x;
}
.nav a:visited {
    color: #3c454d;
    text-decoration: none;
}
.nav a:hover {
    color: #ffc44d;
    text-decoration: none;
}
.nav a:active {
    color:  #3c454d;
    text-decoration: none;
}
/*ul*/
ul {
  list-style: none;
}

/*  text-align: center;
 display: inline-block;
 .   {
display: inline-block;
wiiidth: 100px;
}

text-align: center;
 display: inline-block;

<div class = "outer">
  <div class = "inner">
 */