@charset "UTF-8";
/*nav*/
.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.nav ul {
  margin: 0 0 0 0;
  padding: 20px 10px 15px 20px;
 background-repeat: repeat-x;
}
/*ul*/
ul {
  list-style: none;
}


.mymenu {
	overflow: hidden;
	width: 10%;
}
.mymenu select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.mymenu select::-ms-expand {
    display: none;
}
.mymenu {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.mymenu::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.mymenu select {
	padding: 8px 8px 8px 8px;
	color: #666666;
}